.tableContainer {
    overflow-x: auto; 
    max-width: 100%;
}

.cell {
  border: 1px solid black;
  text-align: center;
}

.stickyCell {
    position: sticky;
    left: 0;
    z-index: 10;
    border-right: 1px solid var(--mantine-color-gray-3);
    &[component="th"] {
      z-index: 20;
    }
}

.highlighted {
  background-color: var(--mantine-color-blue-0) !important;
  transition: background-color 0.1s ease;
}

.interactiveCell {
  cursor: crosshair;
}
